@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

/* Responsible */
/* Phones */
@media only screen and (max-width: 600px) {
	.bg-blue,
	.bg-white {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.placeholder {
		display: none;
	}
	.bg-white .card-body {
		flex: 0 0 auto;
	}
}

/* Desktop & tablets */
@media only screen and (min-width: 600px) {
	.card-body {
		font-size: 1.3rem;
		line-height: 2.5rem;
	}
	.card-text {
		max-width: 50rem;
	}
	.placeholder {
		width: 100%;
	}
}

html {
	scrollbar-width: thin !important;
}

/* Typography */
.display-4 {
	font-weight: 500;
	display: inline;
}
.card-text {
	font-weight: 300;
	font-family: "Roboto", sans-serif;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* Sizing, spacing */
article {
	padding: 3rem 2rem;
	height: 100vh;
	display: flex;
	align-items: center;
}
img {
	display: block;
}
.bg-blue:nth-child(2):not(img) .card-body,
.bg-white:nth-child(2):not(img) .card-body {
	width: 100%;
}
.bg-blue .card-body {
	flex: 0 1 auto;
}

/* Colors */
.bg-blue {
	background-color: #0000ff;
	color: whitesmoke;
}
.bg-white {
	background-color: #ffffff;
	color: black;
}

nav.navbar {
	background-color: #000c66;
}
a {
	color: #75e6da;
}
a:hover {
	color: #75e6da;
}
