/* Responsible */
/* Phones */
@media only screen and (max-width: 800px) and (max-height: 1600px) {
	header {
		margin-bottom: -0.5rem;
	}
	ol:not(.navbar-nav) li:not(.nav-link),
	ul:not(.navbar-nav) li:not(.nav-link) {
		margin: 0.5rem 0 -0.7rem 0;
	}
	.gallery {
		justify-content: space-between;
		flex-direction: column !important;
	}
	.gallery-item {
		height: auto;
		max-height: calc(100vh * 0.33);
		width: calc(100vw * 0.2);
		max-width: calc(100vw * 0.3);
		text-align: center;
	}
}
/* Phones Landscape */
@media only screen and (max-width: 1700px) and (max-height: 1100px) {
	.gallery {
		justify-content: space-around;
		flex-direction: column;
	}
	.gallery-item {
		height: auto;
		max-height: 100%;
		width: calc(100vh * 0.2);
		max-width: calc(100% / 35%);
		text-align: center;
	}
	.gallery-group {
		align-items: center;
	}
}
/* Tablets*/
@media only screen and (max-width: 1100px) and (max-height: 1100px) {
	.gallery {
		justify-content: space-around;
		flex-direction: row;
	}
	.gallery-item {
		height: auto;
		max-height: 100%;
		width: calc(100vh * 0.35);
		max-width: calc(100% / 33%);
		text-align: center;
	}
	.gallery-group {
		align-items: center;
	}
}
/* Desktop and tablets */
@media only screen and (min-width: 900px) and (min-height: 900px) {
	ol:not(.navbar-nav) li:not(.nav-item),
	ul:not(.navbar-nav) li:not(.nav-item) {
		margin: 0.5rem 0 -0.7rem 0;
	}
	.gallery {
		justify-content: space-around;
		flex-direction: row;
	}
	.gallery-item {
		height: auto;
		max-height: 100%;
		width: calc(100vw * 0.25);
		max-width: 100%;
		text-align: center;
	}
	.gallery-group {
		align-items: stretch;
	}
}

/* Spacings */
ol:not(.navbar-nav),
ul:not(.navbar-nav),
header {
	padding: 0;
}
.callback-code {
	margin: 0 0.2rem;
}
.gallery {
	display: flex;
}
.gallery-group {
	flex-direction: column !important;
	row-gap: 1rem;
	justify-content: center;
}
.easteregg {
	margin: 0 auto !important;
}
.callback-code {
	width: 0.9rem;
}
.logo {
	max-width: 70% !important;
}

/* Colors */
.article,
.article-group,
.article-body {
	background-color: transparent !important;
	border-width: 0;
}
.highlight {
	color: #a2e104;
	font-weight: 500;
}
.nav-item.active .nav-link {
	color: #a2e104 !important;
}
.btn-sound {
	background-color: transparent;
	border: transparent solid 0;
	color: inherit;
	padding: 0;
}
nav,
.bg-black {
	background-color: #0c0c0c !important;
}
.bg-black .display-4,
.bg-black .hint,
.bg-black .display-1 {
	color: aliceblue;
}
a:hover,
a.navbar-brand:hover {
	color: aliceblue !important;
}
