@font-face {
	font-family: "Sevastopol-Interface";
	src: url("Sevastopol-Interface.ttf") format("truetype");
}

/* Responsible */
/* Phones */
@media only screen and (max-width: 600px) {
	header {
		margin-bottom: -0.5rem;
	}
	ol:not(.navbar-nav) li:not(.nav-link),
	ul:not(.navbar-nav) li:not(.nav-link) {
		margin: 0.5rem 0 -0.7rem 0;
	}
	.callback-code {
		width: 0.6rem;
	}
	.gallery {
		justify-content: space-between;
		flex-direction: column;
	}
	.gallery-item {
		height: auto;
		width: calc(100vw * 0.3);
		text-align: center;
	}
}
/* Desktop and tablets */
@media only screen and (min-width: 600px) {
	header {
		margin-bottom: 10rem;
	}
	ol:not(.navbar-nav) li:not(.nav-item),
	ul:not(.navbar-nav) li:not(.nav-item) {
		margin: 0.5rem 0 -0.7rem 0;
	}
	.callback-code {
		width: 0.9rem;
	}
	.gallery {
		justify-content: space-around;
		flex-direction: row;
	}
	.gallery-item {
		height: auto;
		max-height: 100%;
		width: calc(100vw * 0.25);
		max-width: 100%;
		text-align: center;
	}
	.gallery-group {
		align-items: stretch;
	}
}

/* Spacings */
ul:not(.navbar-nav),
ol:not(.navbar-nav) {
	margin-top: -0.4rem;
	margin-bottom: 1.5rem;
	list-style: none;
	line-height: 1.39rem;
}
h1:not(.display-1) {
	margin-bottom: -0.5rem;
	list-style: none;
}
header {
	margin: 1rem 0 -0.5rem 0;
}
ol:not(.navbar-nav),
ul:not(.navbar-nav),
li:not(.nav-item),
header {
	padding: 0;
}
.callback-code {
	margin: 0 0.2rem;
}
.gallery {
	display: flex;
}
.gallery-group {
	flex-direction: column !important;
	row-gap: 1rem;
	justify-content: center;
}
.easteregg {
	margin: 0 auto !important;
}

/* Colors, borders, etc. */
.article,
.article-group,
.article-body {
	background-color: transparent !important;
	border-width: 0;
}
.highlight {
	color: #a2e104;
	font-weight: 500;
}
.nav-item.active .nav-link {
	color: #a2e104 !important;
}
.btn-sound {
	background-color: transparent;
	border: transparent solid 0;
	color: inherit;
	padding: 0;
}
nav,
.bg-black {
	background-color: #0c0c0c !important;
}
.bg-black .display-4,
.bg-black .hint,
.bg-black .display-1 {
	color: aliceblue;
}
