@font-face {
	font-family: "Sevastopol-Interface";
	src: url("Sevastopol-Interface.ttf") format("truetype");
}

/* Responsible */
/* Phones */
@media only screen and (max-width: 600px) {
	#text-bg {
		font-size: 130%;
	}

	h1 {
		font-size: 160%;
	}

	.display-4 {
		font-size: 195%;
	}

	#text-bg > * > header {
		font-size: 145%;
		margin-bottom: -0.5rem;
	}
	#text-bg > * > li {
		margin: 0.5rem 0 -0.7rem 0;
		font-size: 115%;
	}
}
/* Desktop and tablets */
@media only screen and (min-width: 600px) {
	#text-bg {
		font-size: 170%;
	}
	#text-bg > * > header {
		font-size: 130%;
		margin-bottom: 10rem;
	}
	#text-bg > * > li {
		margin: 0.5rem 0 -0.7rem 0;
	}
}

.animated-opacity {
	opacity: 25%;
	transition: ease-in-out;
	transition-duration: 0.3s;
}
.animated-opacity:hover {
	opacity: 75%;
	transition: ease-in-out;
	transition-duration: 0.3s;
}

#text-bg {
	opacity: 100%;
	color: whitesmoke;
	line-height: 1.5rem;
}

#text-bg > ul,
ol {
	margin-top: -0.4rem;
	margin-bottom: 1.5rem;
	list-style: none;
	line-height: 1.39rem;
	padding: 0;
}

#text-bg > h1 {
	margin-bottom: -0.5rem;
	list-style: none;
}

#text-bg > * > header,
li {
	text-align: center;
	padding: 0;
}

#text-bg > * > header {
	padding: 0;
	margin: 1rem 0 -0.5rem 0;
}

.card,
.card-group,
.card-body {
	background-color: transparent !important;
	opacity: 100%;
	border-width: 0;
}

nav {
	background: radial-gradient(ellipse at center, #1a1a1a 0%, #000000 100%);
}
