@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap");

/* Responsible */
/* Phones Portrait */
@media only screen and (orientation: portrait) {
	/* Navbar */
	.nav-brand-wrapper {
		width: 100vw;
	}
	.nav-links {
		width: 0;
		flex-direction: column;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		justify-content: flex-start;
		padding-top: 4rem;
	}
	.nav-link-wrapper {
		margin: 0.8rem auto;
		width: 10rem;
	}
	.nav-link {
		opacity: 100%;
	}
	.nav-toggler {
		display: inline;
	}
	/* Articles */
	article:is(.bg-black, .bg-blue):not(.welcome, .bg-white) {
		flex-direction: column-reverse;
		justify-content: center;
	}
	article.bg-white {
		flex-direction: column;
		justify-content: center;
	}
	.header-main {
		font-size: calc(1.625rem + 4.5vw);
	}
	.article-header {
		text-align: center;
	}
	h4 {
		font-size: 1.3rem;
	}
	.article-body {
		padding: 0;
	}
	.article-text {
		text-align: justify;
	}
	.article-text,
	li:not(.nav-link-wrapper) {
		line-height: 1.35rem;
	}
	/* Galleries */
	.gallery {
		flex-direction: column;
		height: 100%;
	}
	.gallery-half {
		margin-top: 0.5rem;
		flex-direction: row;
		justify-content: space-around;
	}
	/* Images */
	.img-half {
		max-width: calc(100vw * 0.7);
		margin-top: 0.5rem;
	}
	.img-half.square {
		width: auto;
		max-height: calc(100vw * 0.3);
	}
	/* Others */
	.quote {
		line-height: 1.3rem;
	}
	.placeholder {
		display: none;
	}
	.hint {
		font-size: 1rem;
	}
}
/* Phones Landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
	/* Navbar */
	.nav-brand-wrapper {
		width: 100vw;
	}
	.nav-links {
		width: 0;
		flex-direction: column;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		justify-content: flex-start;
		padding-top: 4rem;
	}
	.nav-link-wrapper {
		margin: 0.5rem auto;
		width: 10rem;
	}
	.nav-link {
		opacity: 100%;
	}
	.nav-toggler {
		display: inline;
	}
	/* Articles */
	article:is(.bg-blue, .bg-white, .bg-black) {
		justify-content: center;
		gap: 1rem;
	}
	article:is(.bg-blue, .bg-black):not(.welcome) {
		flex-direction: row-reverse;
	}
	article.bg-white {
		flex-direction: row;
	}
	.header-main {
		font-size: 2.9rem;
	}
	.article-header {
		font-size: 2rem;
	}
	h4 {
		font-size: 1.25rem;
	}
	.article-body {
		max-width: 55vw;
	}
	.article-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
		margin-top: -1rem;
	}
	.article-row > * {
		width: 50%;
	}
	.article-text,
	li:not(.nav-link-wrapper) {
		line-height: 1.05rem;
	}
	:is(ol, ul):not(.nav-links) {
		margin: 0;
		padding: 0;
	}
	/* Galleries */
	.gallery,
	.gallery-half {
		flex-direction: row;
	}
	.gallery-half {
		justify-content: stretch;
		flex-direction: column;
		width: 100%;
	}
	/* Images */
	.img-half {
		height: auto;
		max-height: calc(100vh * 0.4);
	}
	.img-fullscreen {
		height: calc(100vh * 0.5);
		width: auto;
	}
	/* Others */
	.quote {
		width: calc(100vw * 0.5);
	}
	.placeholder {
		display: none;
	}
}
/* Tablets Portrait*/
@media only screen and (min-width: 900px) and (orientation: portrait) {
	/* Navbar */
	.nav-link-wrapper {
		margin: 0.5rem auto;
	}
	/* Articles */
	article:is(.bg-black, .bg-blue, .bg-white) {
		justify-content: center;
	}
	article:is(.bg-black, .bg-blue):not(.welcome) {
		flex-direction: column-reverse;
	}
	.article-header {
		font-size: calc(1.475rem + 2.7vw);
		text-align: center;
	}
	h4 {
		font-size: 2rem;
	}
	:is(.article-text, li:not(.nav-link-wrapper)) {
		max-width: 40rem;
		font-size: 1.4rem;
	}
	:is(.article-text, li:not(.nav-link-wrapper), blockquote) {
		line-height: 2rem;
	}
	/* Galleries */
	.gallery-half {
		width: 40rem;
	}
	/* Images */
	.img-half {
		max-height: calc(100vh * 0.6);
		max-width: calc(100vw * 0.6);
		margin: 0.5rem;
	}
	/* Others */
	.quote,
	.author {
		font-size: 1.2rem;
		max-width: 30rem;
	}
}
/* Desktop & Tablets landscape - main parts */
@media only screen and (min-width: 900px) and (orientation: landscape) {
	/* Navbar */
	.nav-links {
		margin: 0 1rem;
		flex-direction: row;
	}
	.nav-link-wrapper {
		margin: 1rem 0;
	}
	.nav-link {
		opacity: 70%;
	}
	.nav-toggler {
		display: none;
	}
	/* Articles */
	article:is(.bg-white, .bg-blue, .bg-black):not(.welcome) {
		justify-content: flex-start;
	}
	article:is(.bg-blue, .bg-black) .article-body {
		align-items: flex-end;
	}
	.header-main {
		font-size: 5rem;
	}
	.article-header {
		text-align: center;
		font-size: 3.5rem;
	}
	h4 {
		font-size: 1.7rem;
	}
	.article-body {
		line-height: 2.5rem;
		max-width: 50rem;
		padding: 1.2rem;
	}
	.article-text,
	li:not(.nav-link-wrapper) {
		font-size: 1.3rem;
	}
	/* Galleries */
	.gallery,
	.gallery-half {
		flex-direction: row;
	}
	/* Images */
	.img-half {
		max-height: calc(100vh * 0.35);
		max-width: calc(100vw * 0.35);
		margin: 0.5rem;
	}
	/* Others */
	.quote,
	.author {
		font-size: 1.2rem;
		max-width: 30rem;
	}
}
/* Tablets Landscape - the rest*/
@media only screen and (min-width: 900px) and (max-width: 1400px) and (orientation: landscape) {
	.gallery-half {
		flex-direction: column;
	}
}

/* Root */
:root {
	--navy: #000c66;
	--dark-blue: #050a30;
	--white-smoke: #f5f5f5;
	--lime: #a2e104;
	--black: #0c0c0c;
}
html {
	scrollbar-width: thin;
	scroll-behavior: smooth;
}
body {
	font-family: "Roboto", sans-serif;
}

/* Typography */
:is(nav, .header-main, .article-header, h4, .hint, .highlight-lime) {
	font-weight: 500;
}
.article-text {
	font-weight: 400;
}
a {
	text-decoration: none;
}
a:hover:not(.nav-link, .nav-brand) {
	text-decoration: underline;
}
:is(ul, ol):not(.nav-links) {
	list-style: none;
}
:is(ul, ol):not(.nav-links) li::before {
	content: "- ";
}
.gallery,
.gallery-half {
	text-align: center;
}
.hint {
	font-style: italic;
	opacity: 60%;
	display: block;
}
.quote,
.author {
	font-size: 1.2rem;
}
.open-sans {
	font-family: "Open Sans", sans-serif !important;
}

/* Sizing, spacing, positioning */
.navbar {
	top: 0;
	left: 0;
	right: 0;
	height: 3rem;
	z-index: 100;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 1rem;
}
.nav-brand-wrapper {
	display: flex;
	justify-content: left;
}
.nav-brand {
	font-size: 1.25rem;
	align-self: center;
}
.nav-links {
	display: flex;
	column-gap: 1rem;
	z-index: 2033;
	overflow: hidden;
}
.nav-link-wrapper {
	font-size: 1rem;
	color: var(--white-smoke);
	align-self: center;
}
.nav-toggler {
	width: 3rem;
	height: 3rem;
	z-index: 2077;
	margin: 0 0.4rem;
}
main {
	margin-top: 2rem;
}
.welcome {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.article-header {
	margin-bottom: 0.5rem;
}
article {
	padding: 4rem 3rem;
	height: calc(100vh - 10rem);
	display: flex;
	align-items: center;
}
:is(.header-main, h1, h2, h3, h5, h6, p, blockquote, ul, ol) {
	margin: 0;
}
h4 {
	margin: 1rem 0 0;
}
:is(ul, ol) {
	list-style: none;
	padding: 0;
}
.gallery,
.gallery-half {
	display: flex;
	flex-grow: 0;
	flex-shrink: 1;
	gap: 0.5rem;
}
.gallery {
	height: 90%;
}
.gallery-item {
	height: 100%;
	width: 100%;
	object-fit: contain;
}
.img-inline {
	width: 0.7rem;
}
.img-fullscreen {
	height: calc(100vw * 0.2);
	width: auto;
	margin: 0 auto;
}
blockquote {
	padding: 0;
	text-align: center;
	max-width: 40rem;
	font-style: italic;
}
blockquote p {
	padding-left: 50%;
	font-style: normal;
}
blockquote p::before {
	content: "- ";
}
.btn-hidden {
	padding: 0;
}
.center-text {
	text-align: center !important;
}
.center-self {
	margin: 0 auto !important;
}
.center-screen {
	display: flex;
	justify-content: center !important;
}
.flex-coll {
	display: flex;
	flex-direction: column !important;
}
.flex-row {
	display: flex;
	flex-direction: row !important;
}
.w-100 {
	width: 100% !important;
}
.quote {
	margin-bottom: 1rem;
}
:is(.bg-blue, .bg-black) .placeholder {
	width: 65%;
}

/* Colors */
.nav-brand {
	color: var(--white-smoke);
}
.nav-link {
	color: #f0f8ff;
}
.nav-links {
	background-color: inherit;
}
.active {
	color: #d53900;
	opacity: 90%;
}
.bg-blue {
	background-color: var(--navy);
	color: var(--white-smoke);
}
.bg-blue-dark {
	background-color: var(--dark-blue);
}
.bg-white {
	background-color: var(--white-smoke);
	color: #000000;
}
.bg-black {
	background-color: var(--black);
	color: var(--white-smoke);
}
a:not(.nav-link):not(.nav-brand) {
	color: #d53900;
}
a:not(.nav-brand):hover {
	color: #c53500;
	opacity: 100%;
}
.highlight-lime {
	color: var(--lime);
}
.btn-hidden {
	border: none;
	color: inherit;
	background-color: transparent;
}

/* Animations */
body > *:not(nav, script),
.nav-brand-wrapper,
.nav-links,
.nav-link {
	transition: 0.3s;
}

/* Other */
.clickable {
	cursor: pointer;
}

/* To be implemented */
.content-end-line {
	justify-content: end;
}
