@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap");

/* Responsible */
/* Phones */
@media only screen and (max-width: 900px) and (orientation: portrait) {
	/* Navbar */
	.nav-brand-wrapper {
		width: 100vw;
	}
	.nav-links {
		width: 0;
		flex-direction: column;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		justify-content: flex-start;
		padding-top: 4rem;
	}
	.nav-link-wrapper {
		margin: 0.8rem auto;
		width: 10rem;
	}
	.nav-link {
		opacity: 100%;
	}
	.nav-toggler {
		display: inline;
	}
	/* Articles */
	article:is(.bg-black, .bg-blue):not(.welcome) {
		flex-direction: column-reverse;
		justify-content: center;
	}
	article.bg-white {
		flex-direction: column;
		justify-content: center;
	}
	.header-main {
		font-size: calc(1.625rem + 4.5vw);
	}
	.article-header {
		text-align: center;
	}
	.article-body {
		padding: 0;
	}
	.article-text {
		text-align: justify;
	}
	.article-text,
	li:not(.nav-link-wrapper) {
		line-height: 1.35rem;
	}
	/* Galleries */
	.gallery {
		margin-top: 0.5rem;
		flex-direction: row;
		gap: 0.4rem;
		justify-content: space-around;
	}
	.gallery .gallery-item {
		max-width: calc(100vw * 0.4);
	}
	.gallery-3 {
		flex-direction: column;
		gap: 1rem;
	}
	.gallery-3 .gallery-item {
		max-width: calc(100vw * 0.28);
	}
	/* Images */
	.img-half {
		max-width: calc(100vw * 0.7);
		margin-top: 0.5rem;
	}
	.img-half.square {
		width: auto;
		max-height: calc(100vw * 0.3);
	}
	/* Others */
	.quote {
		line-height: 1.3rem;
	}
	.placeholder {
		display: none;
	}
	.hint {
		font-size: 1rem;
	}
}
/* Phones Landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
	/* Navbar */
	.nav-brand-wrapper {
		width: 100vw;
	}
	.nav-links {
		width: 0;
		flex-direction: column;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		justify-content: flex-start;
		padding-top: 4rem;
	}
	.nav-link-wrapper {
		margin: 0.5rem auto;
		width: 10rem;
	}
	.nav-link {
		opacity: 100%;
	}
	.nav-toggler {
		display: inline;
	}
	/* Articles */
	article:is(.bg-blue, .bg-white, .bg-black) {
		justify-content: center;
		gap: 1rem;
	}
	article:is(.bg-blue, .bg-black):not(.welcome) {
		flex-direction: row-reverse;
	}
	article.bg-white {
		flex-direction: row;
	}
	.header-main {
		font-size: 2.9rem;
	}
	.article-header {
		font-size: 2rem;
	}
	.article-body {
		max-width: 60vw;
	}
	.article-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
		margin-top: -1rem;
	}
	.article-row > * {
		width: 50%;
	}
	.article-text,
	li:not(.nav-link-wrapper) {
		line-height: 1.05rem;
	}
	:is(ol, ul):not(.nav-links) {
		margin: 0;
		padding: 0;
	}
	/* Galleries */
	.gallery,
	.gallery-3 {
		gap: 0.5rem;
		flex-shrink: 2;
	}
	.gallery {
		justify-content: stretch;
		flex-direction: column;
	}
	.gallery-3 {
		flex-direction: row;
	}
	.gallery-item {
		max-width: calc(100vw * 0.28);
		max-height: calc(100vh * 0.5);
	}
	/* Images */
	.img-half {
		height: auto;
		max-height: calc(100vh * 0.4);
	}
	.img-fullscreen {
		height: calc(100vh * 0.5);
		width: auto;
	}
	/* Others */
	.quote {
		width: calc(100vw * 0.5);
	}
	.placeholder {
		display: none;
	}
}
/* Tablets */
@media only screen and (min-width: 900px) and (orientation: portrait) {
	/* Navbar */
	.nav-brand-wrapper {
		width: 100vw;
	}
	.nav-links {
		width: 0;
		flex-direction: column;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		justify-content: center;
		padding-top: 4rem;
	}
	.nav-link-wrapper {
		margin: 0.5rem auto;
		width: 10rem;
	}
	.nav-link {
		opacity: 100%;
	}
	.nav-toggler {
		display: inline;
	}
	/* Articles */
	article:is(.bg-black, .bg-blue, .bg-white) {
		justify-content: center;
	}
	article:is(.bg-black, .bg-blue):not(.welcome) {
		flex-direction: column-reverse;
	}
	article .bg-white {
		flex-direction: column;
	}
	.header-main {
		font-size: calc(1.625rem + 4.5vw);
	}
	.article-header {
		font-size: calc(1.475rem + 2.7vw);
		text-align: center;
	}
	.article-text,
	li:not(.nav-link-wrapper) {
		max-width: 40rem;
		font-size: 1.4rem;
	}
	/* Galleries */
	.gallery,
	.gallery-3 {
		gap: 0.5rem;
	}
	.gallery .gallery-item {
		max-width: calc(100vw * 0.5);
	}
	.gallery-3 .gallery-item {
		max-width: calc(100vw * 0.3);
	}
	/* Images */
	.img-half {
		max-height: calc(100vh * 0.6);
		max-width: calc(100vw * 0.6);
		margin: 0.5rem;
	}
	/* Others */
	.placeholder {
		display: none;
	}
	.quote,
	.author {
		font-size: 1.2rem;
		max-width: 30rem;
	}
}
/* Tablets landscape */
@media only screen and (min-width: 900px) and (orientation: landscape) {
	/* Navbar */
	.nav-links {
		margin: 0 1rem;
		flex-direction: row;
	}
	.nav-link-wrapper {
		margin: 1rem 0;
	}
	.nav-link {
		opacity: 70%;
	}
	.nav-toggler {
		display: none;
	}
	/* Articles */
	article:is(.bg-white, .bg-blue, .bg-black):not(.welcome) {
		justify-content: flex-start;
	}
	article:is(.bg-blue, .bg-black) .article-body {
		align-items: flex-end;
	}
	.header-main {
		font-size: 5rem;
	}
	.article-header {
		text-align: center;
		font-size: 3.5rem;
	}
	.article-body {
		line-height: 2.5rem;
		max-width: 50rem;
		padding: 1.2rem;
	}
	.article-text,
	li:not(.nav-link-wrapper) {
		font-size: 1.3rem;
	}
	/* Galleries */
	.gallery,
	.gallery-3 {
		gap: 0.5rem;
	}
	.gallery {
		flex-direction: column;
	}
	.gallery .gallery-item {
		width: calc(100vw * 0.4);
	}
	.gallery-3 .gallery-item {
		width: calc(100vw * 0.3);
	}
	/* Images */
	.img-half {
		max-height: calc(100vh * 0.35);
		max-width: calc(100vw * 0.35);
		margin: 0.5rem;
	}
	/* Others */
	.quote,
	.author {
		font-size: 1.2rem;
		max-width: 30rem;
	}
}
/* Desktop */
@media only screen and (min-width: 1500px) and (orientation: landscape) {
	/* Navbar */
	.nav-toggler {
		display: none;
	}
	.nav-links {
		margin: 0 1rem;
		flex-direction: row;
	}
	.nav-link-wrapper {
		margin: 1rem 0;
	}
	.nav-link {
		opacity: 70%;
	}
	/* Articles */
	article:is(.bg-white, .bg-blue, .bg-black):not(.welcome) {
		justify-content: flex-start;
	}
	article:is(.bg-blue, .bg-black) .article-body {
		align-items: flex-end;
	}
	.header-main {
		font-size: 5rem;
	}
	.article-header {
		text-align: center;
		font-size: 3.5rem;
	}
	.article-body {
		line-height: 2.5rem;
		max-width: 50rem;
		padding: 1.2rem;
	}
	.article-text,
	li:not(.nav-link-wrapper) {
		font-size: 1.3rem;
	}
	/* Galleries */
	.gallery {
		flex-direction: row;
		gap: 0.5rem;
	}
	.gallery-item {
		width: calc(100vw * 0.2);
	}
	/* Images */
	.img-half {
		max-height: calc(100vh * 0.35);
		max-width: calc(100vw * 0.35);
		margin: 0.5rem;
	}
	/* Others */
	.quote,
	.author {
		font-size: 1.2rem;
		max-width: 30rem;
	}
}

/* Root */
:root {
	--navy: #000c66;
	--dark-blue: #050a30;
	--white-smoke: #f5f5f5;
	--lime: #a2e104;
	--black: #0c0c0c;
}
html {
	scrollbar-width: thin;
	scroll-behavior: smooth;
}
body {
	font-family: "Roboto", sans-serif;
}
nav {
	font-weight: 500;
}

/* Typography */
.header-main,
.article-header {
	font-weight: 500;
}
.article-text {
	font-weight: 400;
}
a {
	text-decoration: none;
}
a:hover:not(.nav-link, .nav-brand) {
	text-decoration: underline;
}
:is(ul, ol):not(.nav-links) {
	list-style: none;
}
:is(ul, ol):not(.nav-links) li::before {
	content: "- ";
}
.hint {
	font-weight: 500;
	font-style: italic;
	opacity: 60%;
	display: block;
}
.highlight-lime {
	font-weight: 500;
}
.quote,
.author {
	font-size: 1.2rem;
}
.open-sans {
	font-family: "Open Sans", sans-serif !important;
}

/* Sizing, spacing, positioning */
.navbar {
	top: 0;
	left: 0;
	right: 0;
	height: 3rem;
	z-index: 100;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.nav-brand-wrapper {
	display: flex;
	justify-content: left;
}
.nav-brand {
	font-size: 1.25rem;
	align-self: center;
	margin: 0 1rem;
	font-weight: 500;
}
.nav-links {
	display: flex;
	column-gap: 1rem;
	z-index: 2033;
	overflow: hidden;
}
.nav-link-wrapper {
	font-size: 1rem;
	color: var(--white-smoke);
	align-self: center;
	font-weight: 500;
}
.nav-toggler {
	width: 3rem;
	height: 3rem;
	z-index: 2077;
	margin: 0 0.4rem;
}
main {
	margin-top: 3rem;
}
.welcome {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.header-main {
	margin: 0;
}
.article-header {
	margin-bottom: 0.5rem;
}
article {
	padding: 4rem 3rem;
	height: calc(100vh - 10rem);
	display: flex;
	align-items: center;
}
:is(h1, h2, h3, h4, h5, h6) {
	margin: 0;
}
h4 {
	margin-bottom: 0;
	margin-top: 1rem;
	font-size: 1.5rem;
}
p {
	margin: 0;
}
:is(ul, ol) {
	list-style: none;
	margin: 0;
	padding: 0;
}
.gallery,
.gallery-3 {
	display: flex;
}
.gallery-item {
	height: auto;
	width: auto;
	text-align: center;
	/* max-height: 100%; */
	/* max-width: 100%; */
}
.img-inline {
	width: 0.9rem;
}
.img-fullscreen {
	height: calc(100vw * 0.2);
	width: auto;
}
blockquote {
	margin: 0;
	padding: 0;
	text-align: center;
	max-width: 40rem;
	font-style: italic;
}
blockquote p {
	padding-left: 50%;
	font-style: normal;
}
blockquote p::before {
	content: "- ";
}
.btn-hidden {
	padding: 0;
}
.center-text {
	text-align: center !important;
}
.center-self {
	margin: 0 auto !important;
}
.center-screen {
	display: flex;
	justify-content: center !important;
}
.flex-coll {
	display: flex;
	flex-direction: column !important;
}
.flex-row {
	display: flex;
	flex-direction: row !important;
}
.quote {
	margin-bottom: 1rem;
}
:is(.bg-blue, .bg-black) .placeholder {
	width: 65%;
}

/* Colors */
.nav-brand-wrapper {
	background-color: inherit;
}
.nav-brand {
	color: var(--white-smoke);
}
.nav-link {
	color: #f0f8ff;
	transition: ease-in-out 0.2s;
}
.nav-links {
	background-color: inherit;
}
.active {
	color: #d53900;
	opacity: 90%;
}
.bg-blue {
	background-color: var(--navy);
	color: var(--white-smoke);
}
.bg-blue-dark {
	background-color: var(--dark-blue);
}
.bg-white {
	background-color: #ffffff;
	color: #000000;
}
.bg-black {
	background-color: var(--black);
	color: var(--white-smoke);
}
.bg-tile {
	background-color: #f8f8f8;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='46' height='46' fill-opacity='0.6' fill='%23ececec'/%3E%3C/svg%3E");
	/* background by SVGBackgrounds.com */
	/* Used bg is https://www.svgbackgrounds.com/#square-versatiles */
}
.bg-tile-colored {
	background-color: #f3f3f3;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23f3f3f3' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(40.55) translate(-975.34 -731.5)'%3E%3Cuse fill='%23eeeeee' href='%23s' y='2'/%3E%3Cuse fill='%23eeeeee' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23e9e9e9' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23e9e9e9' href='%23s'/%3E%3Cuse fill='%23e4e4e4' href='%23s' x='2'/%3E%3Cuse fill='%23e4e4e4' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(40.55) translate(-975.34 -731.5)'%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(40.55) translate(-975.34 -731.5)'%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(40.55) translate(-975.34 -731.5)'%3E%3Cg fill='%23dbdbdb'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(40.55) translate(-975.34 -731.5)'%3E%3Cg fill='%23f3f3f3'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23d6d6d6'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(40.55) translate(-975.34 -731.5)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(40.55) translate(-975.34 -731.5)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(40.55) translate(-975.34 -731.5)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	/* background by SVGBackgrounds.com */
	/* Used bg is https://www.svgbackgrounds.com/#pattern-randomized */
}
.bg-orange-gradient {
	background: #ff5f6d; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#ffc371,
		#ff5f6d
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ffc371,
		#ff5f6d
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: var(--white-smoke);
}
a:not(.nav-link):not(.nav-brand) {
	color: #d53900;
}
a:not(.nav-brand):hover {
	color: #c53500;
	transition: ease-in-out 0.2s;
	opacity: 100%;
}
.highlight-lime {
	color: var(--lime);
}
.btn-hidden {
	background-color: transparent;
	border: none;
	color: inherit;
}

/* Animations */
main,
.nav-brand,
.nav-links,
.nav-text-wrapper,
.nav-brand-wrapper {
	transition: 0.3s;
}

/* Other */
.clickable {
	cursor: pointer;
}

/* To be implemented */
.content-end-line {
	justify-content: end;
}
