@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap");

html {
	font-family: "Open Sans", sans-serif;
	font-size: 1.23em;
	color: whitesmoke;
}
body {
	background: #ff5f6d; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#ffc371,
		#ff5f6d
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ffc371,
		#ff5f6d
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.quote {
	height: 100%;
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

#quote,
#author {
	margin: 0.4em;
	max-width: 32em;
}
