@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap");

/* Responsible */
/* Phones */
@media only screen and (max-width: 600px) and (max-height: 900px) {
	article {
		gap: 5rem;
	}
	/* footer p {
		font-size: 0.8rem;
	} 
	 .icon {
		height: 1.1em;
	} */
	#quote,
	#author {
		max-width: 15em;
	}
}
/* Phones Landscape*/
@media only screen and (max-width: 900px) and (max-height: 600px) {
	article {
		gap: 1rem;
	}
	#quote,
	#author {
		max-width: 30em;
	}
}
/* Desktop & tablets */
@media only screen and (min-width: 600px) and (min-height: 900px) {
	article {
		gap: 10rem;
	}
	main {
		font-size: 1.2rem;
	}
	/* footer p {
		font-size: 0.94em;
	} 
	 .icon {
		height: 1.23em;
	} */
	#quote,
	#author {
		max-width: 30rem;
	}
}

/* Typography */
article {
	text-align: center;
}

/* Spacing */
article {
	flex-direction: column;
	justify-content: center;
}
#quote,
#author {
	margin: 0.4rem;
}
/* footer {
	position: fixed;
	bottom: 3rem;
} */

/* Colors */
main {
	background: #ff5f6d; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#ffc371,
		#ff5f6d
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ffc371,
		#ff5f6d
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: "Open Sans", sans-serif !important;
	color: whitesmoke;
}
.navbar {
	background: linear-gradient(to right, #ffc371, #ff5f6d);
}
/* footer p {
	opacity: 60%;
} */

/* Other */
.holder {
	cursor: pointer;
}
